# Netbeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Java
*.class
*.jar
*.war
*.ear

# IDE
.idea/
*.iml
*.iws
*.ipr
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Database
Database/

# Log files
*.log
